<header class="header">

	<div class="container">
		<div class="group">
			<div class="col">
				
				<a href="/" class="logo">
				<svg class="icon icon--large"><use xlink:href="#phoenix"/></svg>
				</a>

			</div>
			<div class="col">	

				<nav role="navigation">
				<div class="nav-container">

				{% for page in site.pages %}
				{% if page.title %}<a class="" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
				{% endfor %}

				</div>
				</nav>

			</div>
		</div>

	</div>

	<svg class="header-bottom"><use xlink:href="#ost"/></svg>
	
</header>