/* ==========================================================================


   Logo


   ========================================================================== */
.logo {

	display: inline-block;

	margin-top: 1em;

}

.logo img {

	width: 100%;

}