/* ==========================================================================


   Pull-quotes


   ========================================================================== */
p[data-pullquote] {

	color: inherit;
	border-color: inherit;
	position: relative;

}

// p[data-pullquote]:after {

// 	content: " ";
// 	display:block;

// 	position: absolute;
// 	top: -1.88em;
// 	right: 50%;

// 	width: 1em;
// 	height: 0;

// 	border-style: solid;
// 	border-width: 0 0 0.33em 0;
// 	border-bottom-color: inherit;

// 	transform: translateX(50%) rotate(-7.5deg);

// 	@include mq($breakpoint-lap) {

// 		top: 0.33em;
// 		right: 0;
// 		transform: translateX(-5.5em) rotate(-7.5deg);

// 	};

// }

p[data-pullquote]:before {

	display: block;
	content: attr(data-pullquote);

	margin: 3em 0 1.5em 0;
	padding: 0;

	word-break: keep-all;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;

	font-weight: $heading-weight;
	font-family: $heading-family;

	color: inherit;

	font-size: 1.5em;
	line-height: 1.3554;

	@include mq($breakpoint-lap) {

		float: right;
		width: 12em;

		margin: 1.5em -15% 1.5em 1em;

	};

}
