/* ==========================================================================


   Reading-times


   ========================================================================== */



.reading-time {

	color: $luma-50;
	font-size: 0.74em;
	text-transform: uppercase;

}