/* ==========================================================================


   Columns


   ========================================================================== */
.container {

	// max-width: 66.6666%;
	// margin-left: 11.1111%;
	// margin-right: 22.2222%;

	// margin: 3em;

	@include mq($breakpoint-lap) {

		

	};

}

.group {

	display: flex;
	flex: 1 0 auto;

	flex-direction: column;

	@include mq($breakpoint-lap) {

		flex-direction: row;

	};

}

.col {

	flex: 1 0 auto;

}

.col + .col {

	margin-top: 0;

}

.col--primary {

	max-width: 32em;

}

.col--secondary {

	max-width: 16em;

	@include mq($breakpoint-lap) {

		padding-left: 3em;

	};

}

/* Alignments
   ========================================================================== */
.align-right {

	text-align: right;

}

.align-center {

	text-align: center;

}