/* ==========================================================================


   Footer


   ========================================================================== */
.footer {

	background-color: $primary-color;
	color: contrast($primary-color);

	position: relative;

}