/* ==========================================================================


   Main


   ========================================================================== */



.main {

	margin: 3em auto;
	padding: 0 0.75em;

	background-image: url(/assets/img/top.png);
	background-repeat: no-repeat;
	background-position: 50% -50%;

	background-size: contain;

	overflow-x: hidden;

	@include mq($breakpoint-lap) {

		margin-top: 0;
		margin-left: 35%;

		padding: 6em 3em 0 3em;

		width: 65%;

	};

}