/* ==========================================================================


   Blockquotes


   ========================================================================== */
blockquote {

	background-color: $primary-color;
	color: contrast($primary-color);

	padding: 3em 4.5em;

	margin-left: -4.5em;
	margin-right: -4.5em;

	border: 1em dashed $white;
	border-width: 0.15em 0;

}

cite {

	display: block;
	margin-top: 1.5em;

}

cite:before {

	content: "\2014";

}