/* ==========================================================================


   Paragraphs


   ========================================================================== */

p {

}

.lead {

	font-size: 1.5em;
	line-height: 1.3554;

	color: $luma-10;

}